h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.mat-toolbar .mat-toolbar-row {
  justify-content: flex-start;
}
.content {
	padding: 0 16px;
}

md-sidenav-container {
	height: 100%;
}

.menu-search {
	padding: 16px;
}

md-sidenav {
  width: 250px;
}

md-sidenav .title {
	font-size: 1.6em;
	margin: 16px;
	display: block;
}