/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons'; /* import for using material icons*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/*@import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
 margin: 0;
 font-family: Roboto, sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
}
body.mat-app-background {
	background-color: #ffffff;
}
md-card {
 max-width: 94%;
 margin: 2em auto;
 text-align: center;
}
md-toolbar-row {
 justify-content: space-between;
}

.container {
	width: 100%;
	max-width: 768px;
	height: 100vh;
	max-height: 768px;
}